<%= form_for(@tutorial) do |f| %>
  <% if @tutorial.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@tutorial.errors.count, "error") %> prohibited this survey from being saved:</h2>
      <ul>
      <% @tutorial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :tagline %>
  <%= f.text_field :tagline, class: 'form-control' %>

  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>

  <br>
  <%= f.submit "Submit for Review", class: "btn btn-danger pull-right" %>
<% end %>
