<%= simple_form_for(@tutorial) do |f| %>
  <% if @tutorial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutorial.errors.count, "error") %> prohibited this tutorial from being saved:</h2>

      <ul>
      <% @tutorial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.input :title, placeholder: "Title", input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :tagline, placeholder: "Tagline", input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :content, label: false, input_html: { class: "summernote-plugin" } %>
  </div>
  <div class="actions">
    <%= f.button :submit, value: "Submit Changes for Review", class: "primary-button" %>
  </div>
<% end %>
