<li id="tutorial-<%= tutorial.id %>">
  <div class="tutorial_icon">
    <%= image_tag("#") %>
  </div>

  <div class="tutorial_item">
    <td><%= tutorial.title %></td>
    <td><%= tutorial.tagline %></td>
    <td><%= tutorial.content %></td>
  </div>
</li>
