<div class="content-wrap">
  <div class="container footer-margin">
   <div class="col-sm-offset-1 col-sm-10 card content-top-margin">
      <div class="row">
        <div class="col-sm-12 card-side-margins">
          <h1>Create New Tutorial</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= simple_form_for(@tutorial) do |f| %>
            <div class="form-group">
              <%= f.input :title, placeholder: "Write a descriptive title that begins with 'How to . . .'", input_html: { class: "form-control" } %>
            </div>

            <div class="form-group">
              <%= f.input :tagline, label: "Description", placeholder: "Include a brief description of what this tutorial will cover", as: "text", input_html: { class: "form-control" } %>
            </div>

            <div class="form-group">
              <%= f.input :content, label: false, input_html: { class: "summernote-plugin" } %>
            </div>

            <div class="form-group">
              <%= f.button :submit, value: "Submit for Review", class: "primary-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>