<div class="content-wrap">
  <div class="container footer-margin">
   <div class="col-md-offset-2 col-md-8">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-title">Create a New Tutorial</h1>
          <h6 class="byline">by: <%= @user.email %></h6>
          <hr class="blue">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= simple_form_for(@tutorial) do |f| %>

            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>

            <%= f.label :tagline %>
            <%= f.text_field :tagline, class: 'form-control' %>

            <%= f.label :author %>
            <%= f.text_field :author, class: 'form-control' %>

            <%= f.label :organization %>
            <%= f.text_field :organization, class: 'form-control' %>

            <%= f.label :content %>
            <%= f.input :content, label: false, class: 'form-control', input_html: { class: "summernote-plugin" } %>

            <br>
            <%= f.submit "Submit for Review", class: "btn btn-danger pull-right" %>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
