<div class="content-wrap">
  <div class="container footer-margin">
   <div class="col-sm-offset-1 col-sm-10 content-top-margin">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="page-title">Create a New Tutorial</h1>
          <h6 class="byline">by: <%= @user.email %></h6>
          <hr class="blue">
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <%= simple_form_for(@tutorial) do |f| %>
            <div class="form-group">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>

            <div class="form-group">
              <%= f.label :tagline %><br />
              <%= f.text_field :tagline %>
            </div>

            <%= f.fields_for :steps do |builder| %>
              <%= render 'step_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add Steps", f, :steps %>

            <div class="actions">
              <%= f.submit %>
            </div>

            <br>
            <%= f.submit "Submit for Review", class: "btn btn-danger pull-right" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
