<div class="content-wrap">
  <div class="container footer-margin">
   <div class="col-sm-offset-1 col-sm-10 card content-top-margin">
      <div class="row">
        <div class="col-sm-12 card-side-margins">
          <h1>Create New Tutorial</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

            <div class="form-group">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>

            <div class="form-group">
              <%= f.label :tagline %><br />
              <%= f.text_field :tagline %>
            </div>

            <%= f.fields_for :steps do |builder| %>
              <%= render 'step_fields', f: builder %>
            <% end %>
            <%= link_to_add_fields "Add Steps", f, :steps %>

            <div class="actions">
              <%= f.submit %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
