<p id="notice"><%= notice %></p>

<div class="container">
  <div class="card-content col-md-offset-2 col-md-8">
    <div class="row">
      <div class="content col-md-12">
        <h2><%= @tutorial.title %></h2>
        <h3><%= @tutorial.tagline %></h3>

        <%# rendering raw html b/c that's what the content is %>
        <%= raw @tutorial.content %>

        <div class="float-right">
          <h6><small>
            <%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
            <%= link_to 'Back', tutorials_path %>
          </small></h6>
        </div>
      </div>
    </div>
          
    <div class="row">
      <div class="col-md-12">
        <div class="suggestions">
          <h3>Suggested for You</h3>
          <div class="ul">
            <% @suggestions.each do |suggestion| %>
              <li class="li">
                <%= link_to suggestion.title, suggestion %>
              </li>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>