<p id="notice"><%= notice %></p>

<h2><%= @tutorial.title %></h2>

<h3><%= @tutorial.tagline %></h3>

<%= raw @tutorial.content %>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
