<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @tutorial.title %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @tutorial.tagline %>
</p>

<p>
  <strong>Content:</strong>
  <%= raw @tutorial.content %>
  <%# rendering raw html b/c that's what the content is %>
</p>

<%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
<%= link_to 'Back', tutorials_path %>
