<div class="content-wrap">
  <div class="container footer-margin">
    <div class="col-md-offset-2 col-md-8">
      <%= notice %>
    </div>

    <div class="row">
      <div class="container tutorials-container">
      <div class="card content-top-margin">
        <div class="row tutorial-min">
          <div class="col-sm-12">
            <h2><%= @tutorial.title %></h2>
            <h3><%= @tutorial.tagline %></h3>
            <p> <%= @tutorial.content %> </p>
              <div class="text-right" id="test">
                <h3><small>
                  <%= link_to 'Edit', edit_tutorial_path(@tutorial) %> |
                  <%= link_to 'Back', tutorials_path %>
                </small></h3>
              </div>
              <% if current_user && current_user.admin? %>
                <h3><small>
                <%= link_to "delete", tutorial_path(@tutorial.id),  method: :delete %>
                </h3></small>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
