<div class="container content-margin-bottom">

  <div class="row">
    <div class="container">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="row tutorial-min">

          <h2 class="page-title"><%= @tutorial.title %></h2>
          <h3 class="subtitle"><%= @tutorial.tagline %></h3>

          <% if !@tutorial.author.nil? && !@tutorial.author.empty? %>
            <h6 class="byline">Author: <%= @tutorial.author %> </h6>
          <% end %>

          <% if !@tutorial.organization.nil? && !@tutorial.organization.empty? %>
            <h6 class="byline">Organization: <%= @tutorial.organization %> </h6>
          <% end %>
          <hr class="blue">

          <p><%= raw @tutorial.content %></p>

          <% if current_user %>
            <div class="text-right" id="test">
              <h3><small>
                <% if current_user.admin? || current_user.id == @tutorial.user_id %>
                  <%= link_to 'Edit', edit_tutorial_path(@tutorial) %>
                <% end %>
                <% if current_user.admin? || current_user.id == @tutorial.user_id %>
                   | <%= link_to 'Delete', tutorial_path(@tutorial.id),  method: :delete %>
                <% end %>
              </small></h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
