<div class="content-wrap">
    <div class="container content-margin-bottom">
       <div class="col-sm-offset-3 col-sm-6 card">
        <h2 class="page-title">Login as a Contributor</h2>
        <hr class="blue">

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="form-group">
            <%= f.input :email, required: false, autofocus: true, input_html: { class: 'form-control' } %>
            </div>
            <div class="form-group">
            <%= f.input :password, required: false, input_html: { class: 'form-control' } %>
            </div>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <div class="form-group">
            <%= f.button :submit, "Log in", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
