<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Navigation</h4>
        <%= link_to "Home",                     root_path %>
        <br>
        <%= link_to "Tutorial Creation Guide",  "/guide" %>
        <br>
        <%= link_to "Contact Us",               "/contact" %>
        <br>
        <%= link_to "Developers",               "/style" %>
      </div>
      <div class="col-sm-4">
        <h4>Contributors</h4>
        <% if user_signed_in? %>
          <div class="flex-column">
          <%= link_to 'Dashboard', dashboard_path %>
          <%= link_to 'Edit profile', edit_user_registration_path %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        <% else %>
          <div class="flex-column">
          <%= link_to "Sign up", new_user_registration_path %>
          <%= link_to "Login", new_user_session_path %>
          </div>
        <% end %>
      </div>
      <div class="col-sm-4">
        <h4>How to Help</h4>
        <%= link_to "Create a Tutorial", new_tutorial_path, class: "btn btn-danger" %>
      </div>
    </div>
    <div class="row"></div>
      <div class="col-sm-12 text-center">
        <br>
        Made with <i class="glyphicon glyphicon-heart"></i> in San Francisco, CA
        <br>
          <small>Hosted by <a href="https://www.heroku.com/" target="_blank">Heroku</a></small>
      </div>
    </div>
  </div>
</footer>
