<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><%= link_to "Home",            root_path %></li>
            <li><%= link_to "Contact",         "#" %></li>
            <li><%= link_to "FAQ",             "#" %></li>
            <li><%= link_to "Create Tutorial", "/tutorials/new" %></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><%= link_to "Level 1", "#" %></li>
            <li><%= link_to "Level 2", "#" %></li>
            <li><%= link_to "Level 3", "#" %></li>
          </ul>
        </div>

        <div class="col-sm-4">
          <ul class="list-unstyled">
            <li><%= link_to "Partner Link 1", "#" %></li>
            <li><%= link_to "Partner Link 2", "#" %></li>
            <li><%= link_to "Partner Link 3", "#" %></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>