<footer class="foooter">
  <ul id="left_footer">
    <li><%= link_to "Home",      home_path %></li>
    <li><%= link_to "Contact",   contact_path %></li>
    <li><%= link_to "Something", "#" %></li>
  </ul>

  <ul id="middle_footer">
    <li><%= link_to "Level 1", "#" %></li>
    <li><%= link_to "Level 2", "#" %></li>
    <li><%= link_to "Level 3", "#" %></li>
  </ul>

  <ul id="right_footer">
    <li><%= link_to "Partner Link 1", "#" %></li>
    <li><%= link_to "Partner Link 2", "#" %></li>
    <li><%= link_to "Partner Link 3", "#" %></li>
  </ul>
</footer>